<div class="row" id="background">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">HTML</div>
            <div class="skill-image"><img src="../../../assets/html.png" id="html"></div>
            <div class="progress-circle">
              <span class="progress-number">90%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">CSS</div>
            <div class="skill-image"><img src="../../../assets/CSS.png" id="css"></div>
            <div class="progress-circle">
              <span class="progress-number">60%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">Javascript</div>
            <div class="skill-image"><img src="../../../assets/js.png" id="js"></div>
            <div class="progress-circle">
              <span class="progress-number">70%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">c++</div>
            <div class="skill-image"><img src="../../../assets/c++.png" id="c++"></div>
            <div class="progress-circle">
              <span class="progress-number">40%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">English</div>
            <div class="skill-image"><img src="../../../assets/eng.png" ></div>
            <div class="progress-circle">
              <span class="progress-number">95%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">GitHub</div>
            <div class="skill-image"><img src="../../../assets/github.png" ></div>
            <div class="progress-circle">
              <span class="progress-number">80%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">Team-work</div>
            <div class="skill-image"><img src="../../../assets/grupal.png" ></div>
            <div class="progress-circle">
              <span class="progress-number">100%</span>
            </div>
        </div>
    </div>
</div>
  