<div class="row no-gutters">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="foto">
      <img src="../../../assets/foto de perfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="info">
      <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
      <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8" id="texto">
      <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus expedita dolores dolore ipsa sapiente voluptas, beatae libero quos fugit atque sit aspernatur illo? Nam odio culpa laborum error suscipit a.</p>
      </span>
    </div>
  </div>