<div class="row">
    <h1>Hard &amp; Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="skill-container">
        <div class="skill-name">HTML</div>
        <div class="progress-circle" data-porcentaje="90" data-imagen="assets/html.png">
          <span class="progress-number">90%</span>
          <div class="progress-circle__img"></div>
          <svg>
            <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
            <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="skill-container">
        <div class="skill-name">CSS</div>
        <div class="progress-circle" data-porcentaje="85" data-imagen="assets/CSS.png">
          <span class="progress-number">85%</span>
          <div class="progress-circle__img"></div>
          <svg>
            <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
            <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="skill-container">
        <div class="skill-name">JavaScript</div>
        <div class="progress-circle" data-porcentaje="80" data-imagen="assets/js.png">
          <span class="progress-number">80%</span>
          <div class="progress-circle__img"></div>
          <svg>
            <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
            <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="skill-container">
        <div class="skill-name">C++</div>
        <div class="progress-circle" data-porcentaje="75" data-imagen="assets/c++.png">
          <span class="progress-number">75%</span>
          <div class="progress-circle__img"></div>
          <svg>
            <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
            <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="skill-container">
        <div class="skill-name">Trabajo en equipo</div>
        <div class="progress-circle" data-porcentaje="95" data-imagen="assets/grupal.png">
          <span class="progress-number">95%</span>
          <svg>
            <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
            <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
          </svg>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
          <div class="skill-name">English</div>
          <div class="progress-circle" data-porcentaje="95" data-imagen="assets/eng.png">
            <span class="progress-number">95%</span>
            <svg>
              <circle class="progress-circle__background" cx="50%" cy="50%" r="70"></circle>
              <circle class="progress-circle__progress" cx="50%" cy="50%" r="70"></circle>
            </svg>
          </div>
        </div>
  