<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">HTML</div>
            <div class="progress-circle">
              <span class="progress-number">90%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">CSS</div>
            <div class="progress-circle">
              <span class="progress-number">60%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">Javascript</div>
            <div class="progress-circle">
              <span class="progress-number">70%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">c++</div>
            <div class="progress-circle">
              <span class="progress-number">40%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">English</div>
            <div class="progress-circle">
              <span class="progress-number">95%</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="skill-container">
            <div class="skill-name">Team-work</div>
            <div class="progress-circle">
              <span class="progress-number">100%</span>
            </div>
        </div>
    </div>
</div>
  